{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="row">
    {% if object.has_started == False %}
      <div class="col-md-10">
        <h3>Game Hasn't Started</h3>
        <small>{% if guest %}{{ guest }}{% endif %}</small>
        <div class="well well-md">
          <ul class="list-unstyled">
          {% if players %}
            {% for player in object.players %}
              <li>{{ player.user }}</li>
            {% endfor %}
            {% else %}
              <li>No players yet.</li>
          {% endif %}
          </ul>
          <input type="button" id="join-game-btn" class="btn btn-lg" 
          onclick="Dajaxice.alien_game.add_player_to_game(
            callback, {
              'game_id': {{ object.pk|escapejs }},
              'user': '{{ guest|escapejs }}'
           })"
           value = "JOIN" />
        </div>
      </div>
	{% else %}
	  <div class="col-md-10">
		<h1> Day 1</h1>
	  </div>
	  
	  <div class="col-md-2">
	    <div class="">
	    <h3>Player List</h3>
	  	</div>
	  </div>

    {% endif %}
  </div>
</div>


{% endblock content %}