{% extends "base.html" %}


{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-10">
		<h1>Day {{ current_day.current_day }}</h1>
	  </div>
	  
	  <div class="col-md-2">
	    <div class="">
	     
	  	</div>
	  </div>

	</div>

	<div class="row">
	  <div class="col-md-10">
	    {% if current_day.message %}
		<div class="well well-md">
		  <strong>Narrator:</strong><small>{{ current_day.message }}</small>
		</div>
		{% endif %}
		<div class="well well-md">
		  Test chatter
		</div>
	  </div>
	  <div class="col-md-2">

	    <h3>Vote Box</h3>
	    <div>
	    {% if current_day.votes.all.count >= 5 %}
	      <strong>VOTING SHOULD BE OVER</strong>
	    {% else %}
	      <strong>People still gotta vote</strong>
	    {% endif %}
	    </div>
	  	<form action="{% url 'play' game.pk current_day.current_day %}" method="post">{% csrf_token %}
			<select name="select" class="form-control">
			  {% for player in players %}
			  <option value="{{ player.user.username }}">{{ player.user.username }}</option> 
			  {% endfor %}
			</select>
		  	<p>
		  	  <input class="btn btn-primary" type="submit" value="Submit" />
		  	</p>
		</form>
		<h3>Player List</h3>

	  	<div class="well well-md">

	  	  <div class="">
		      <ul class="list-unstyled">
		        {% for player in players %}
		        <li>{{ player.user.username }}</li> 
		        {% endfor %}
		      </ul>
		  </div>
	  	</div>


	  </div>
	</div>
</div>

{% endblock content %}