{% extends "base.html" %}


{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-10">
		<h1> Day 1</h1>
	  </div>
	  
	  <div class="col-md-2">
	    <div class="">
	    <h3>Player List</h3>
	  	</div>
	  </div>

	</div>

	<div class="row">
	  <div class="col-md-10">
		<div class="well well-md">
		  <div class="media">
		    <img class="media-object pull-left" src="http://www.fillmurray.com/50/50">
		  <div class="media-body">
		    <h4 class="media-heading">Steven</h4>
		    I think that Edgar is an alien because he smells bad!
		  </div>
		</div>
	  </div>
	  <div class="well well-md">
		  <div class="media">
		    <img class="media-object pull-left" src="http://www.fillmurray.com/51/49">
		  <div class="media-body">
		    <h4 class="media-heading">Edgar</h4>
		    :(
		  </div>
		</div>
	  </div>
	  <div class="well well-md">
		  <div class="media">
		    <img class="media-object pull-left" src="http://www.fillmurray.com/49/51">
		  <div class="media-body">
		    <h4 class="media-heading">Nick</h4>
		    This is a trick, you're BOTH aliens!!!
		  </div>
		</div>
	  </div>
	 </div>
	  <div class="col-md-2">
	  	<div class="well well-lg">
	  	  <div class="">
		  	  <ul class="list-unstyled">
		  	    <li>Steven</li>
		  	    <li>Edgar</li>
		  	    <li>Nick</li>
		  	  </ul>
		  </div>
	  	</div>
	  </div>
	</div>
</div>

{% endblock content %}