
div {
	border: 1px black;
}


html {
	background: black;
}

body {
	background: green;
	width: 1000px;
	margin: 0 auto;
}

body #chatbox {
	float: left;
	width: 300px;
	height: 600px;
	margin: 10px 10px;
	background: #fed;
}

body #chatbox #chatbox-in {
	width: 100%;
	height: 400px;
	background: #ffe;

	overflow-y: scroll;
	word-wrap: break-word;
}

