{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Mystery At Alien Ranch</title>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>

{% block content %}
{% endblock content %}

<div class="container">
<footer>
	{% if user.is_authenticated %}
	<div class="pull-right">
		<a href="{% url 'logout' %}">Logout</a> |
		<a href="{% url 'profile' slug=user.username %}"><strong>{{ user.username }}</strong></a>
	{% else %}
		<a href="{% url 'registration_register' %}">Register</a> |
		<a href="/accounts/login">Login</a>
	{% endif %}
	</div>
</footer>
</div>

  <script src="{% static "js/libs/jquery-1.10.2.js" %}"></script>
  <script src="{% static "js/libs/handlebars-1.1.2.js" %}"></script>
  <script src="{% static "js/libs/ember-1.2.0.js" %}"></script>
  <script src="{% static "js/libs/ember-data.js" %}"></script>

  <script src="{% static "js/app.js" %}"></script>
  <script src="{% static "js/router.js" %}"></script>
  <script src="{% static "js/models/todo.js" %}"></script>
</body>
</html>